apiVersion: v1
kind: Service
metadata:
  name: {{ include "nebulous-overlay-network-manager.fullname" . }}
  labels:
    {{- include "nebulous-overlay-network-manager.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.pgadminPort }}
      targetPort: {{ .Values.service.pgadminPort }}
      protocol: TCP
      name: pgadmin
    - port: {{ .Values.service.onmApiExposePort }}
      targetPort: {{ .Values.service.onmApiApplicationPort }}
      protocol: TCP
      name: onm-api
  selector:
    {{- include "nebulous-overlay-network-manager.selectorLabels" . | nindent 4 }}
